## 업종별 데이터 전처리(매출액)

In [16]:
import pandas as pd

# CSV 파일 읽기
category = pd.read_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종별대시보드(before_전처리).csv')

In [17]:
#필요한 컬럼만 선택하기
category = category[['기준_년분기_코드','상권_코드_명','서비스_업종_코드_명','업종_중분류','당월_매출', '점포_수', '남성','여성','월요일','화요일','수요일','목요일','금요일','토요일','일요일','00시~06시','06시~11시','11시~14시','14시~17시','17시~21시', '21시~24시','10대','20대','30대','40대','50대','60대이상','자치구_코드_명']]

In [18]:
category = category.melt(id_vars=['기준_년분기_코드','상권_코드_명','서비스_업종_코드_명','업종_중분류','자치구_코드_명','당월_매출','점포_수'], value_vars=['남성','여성','월요일','화요일','수요일','목요일','금요일','토요일','일요일','00시~06시','06시~11시','11시~14시','14시~17시','17시~21시', '21시~24시','10대','20대','30대','40대','50대','60대이상'],var_name='category', value_name='value')

In [19]:
# '기준_년분기_코드' 값을 년월로 변환하는 함수 정의
def convert_to_date(code):
    year = int(str(code)[:4])  # 연도 추출
    quarter = int(str(code)[-1])  # 분기 추출
    month = (quarter - 1) * 3 + 1  # 분기에 따라 시작 월 계산
    return pd.Timestamp(year=year, month=month, day=1)
# 변환 적용
category['기준_년분기_코드_날짜'] = category['기준_년분기_코드'].apply(convert_to_date)

In [20]:
category = category[category['기준_년분기_코드_날짜'] >= pd.Timestamp(year=2024, month=1, day=1)]

In [7]:
category.to_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종대시보드데이터_V0.1.csv', index=False, encoding='utf-8-sig')

## 업종별 데이터 전처리 (매출건수)

In [21]:
import pandas as pd

# CSV 파일 읽기
category2 = pd.read_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종별대시보드_매출건수.csv')

In [22]:
#필요한 컬럼만 선택하기
category2 = category2[['기준_년분기_코드','상권_코드_명','서비스_업종_코드_명', '남성','여성','월요일','화요일','수요일','목요일','금요일','토요일','일요일','00시~06시','06시~11시','11시~14시','14시~17시','17시~21시', '21시~24시','10대','20대','30대','40대','50대','60대이상']]

In [23]:
category2 = category2.melt(id_vars=['기준_년분기_코드','상권_코드_명','서비스_업종_코드_명'], value_vars=['남성','여성','월요일','화요일','수요일','목요일','금요일','토요일','일요일','00시~06시','06시~11시','11시~14시','14시~17시','17시~21시', '21시~24시','10대','20대','30대','40대','50대','60대이상'],var_name='category', value_name='value')

In [24]:
# '기준_년분기_코드' 값을 년월로 변환하는 함수 정의
def convert_to_date(code):
    year = int(str(code)[:4])  # 연도 추출
    quarter = int(str(code)[-1])  # 분기 추출
    month = (quarter - 1) * 3 + 1  # 분기에 따라 시작 월 계산
    return pd.Timestamp(year=year, month=month, day=1)
# 변환 적용
category2['기준_년분기_코드_날짜'] = category2['기준_년분기_코드'].apply(convert_to_date)

In [25]:
category2 = category2[category2['기준_년분기_코드_날짜'] >= pd.Timestamp(year=2024, month=1, day=1)]

In [26]:
category2.rename(columns={'value': '매출건수'}, inplace=True)

In [27]:
category.rename(columns={'value': '매출액'}, inplace=True)

In [28]:
category.drop_duplicates(subset=['기준_년분기_코드', '상권_코드_명', '서비스_업종_코드_명', 'category', '기준_년분기_코드_날짜'], inplace=True)
category2.drop_duplicates(subset=['기준_년분기_코드', '상권_코드_명', '서비스_업종_코드_명', 'category', '기준_년분기_코드_날짜'], inplace=True)

In [29]:
# Left Join 수행
merged_df = pd.merge(category, category2, on=['기준_년분기_코드', '상권_코드_명', '서비스_업종_코드_명','category','기준_년분기_코드_날짜'], how='left')

In [30]:
merged_df

,기준_년분기_코드,상권_코드_명,서비스_업종_코드_명,업종_중분류,자치구_코드_명,당월_매출,점포_수,category,매출액,기준_년분기_코드_날짜,매출건수
0,20241,개롱역,자동차수리,기타,송파구,1.341432e+08,2,남성,8.484089e+07,2024-01-01,1815
1,20241,고덕 골목형상점가,일반의류,패션/뷰티,강동구,8.241687e+06,6,남성,9.422628e+05,2024-01-01,112
2,20241,합정역,스포츠클럽,여가/오락,마포구,2.110533e+07,4,남성,9.323054e+06,2024-01-01,63
3,20241,왕십리도선동상점가,청과상,소매,성동구,1.270101e+07,6,남성,1.805127e+06,2024-01-01,466
4,20241,서울여자간호대학교,미용실,패션/뷰티,서대문구,4.216797e+06,9,남성,1.404005e+06,2024-01-01,420
...,...,...,...,...,...,...,...,...,...,...,...
586735,20241,메가박스 상봉,미곡판매,소매,중랑구,4.824121e+07,3,60대이상,0.000000e+00,2024-01-01,0
586736,20241,포스코사거리,시계및귀금속,소매,강남구,1.040461e+07,9,60대이상,0.000000e+00,2024-01-01,0
586737,20241,논현역,스포츠클럽,여가/오락,강남구,5.395346e+06,6,60대이상,0.000000e+00,2024-01-01,0
586738,20241,미성초등학교,스포츠클럽,여가/오락,관악구,3.970776e+07,3,60대이상,0.000000e+00,2024-01-01,17
586739,20241,북촌(안국역),치킨전문점,음식/음료,종로구,6.418098e+07,2,60대이상,1.173322e+07,2024-01-01,691

In [31]:
merged_df.to_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종대시보드데이터_V0.2.csv', index=False, encoding='utf-8-sig')

## 개업율/폐업률 데이터 전처리

In [1]:
import pandas as pd

# CSV 파일 읽기
category = pd.read_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종별대시보드(before_전처리).csv')

In [2]:
#필요한 컬럼만 선택하기
category = category[['기준_년분기_코드','업종_중분류','개업율','폐업률']]

# '기준_년분기_코드' 값을 년월로 변환하는 함수 정의
def convert_to_date(code):
    year = int(str(code)[:4])  # 연도 추출
    quarter = int(str(code)[-1])  # 분기 추출
    month = (quarter - 1) * 3 + 1  # 분기에 따라 시작 월 계산
    return pd.Timestamp(year=year, month=month, day=1)
# 변환 적용
category['기준_년분기_코드_날짜'] = category['기준_년분기_코드'].apply(convert_to_date)

In [3]:
category.to_csv(r'C:\Users\m\project\공공데이터_상권분석\data\서울시 상권데이터\업종별_개업폐업율데이터.csv', index=False, encoding='utf-8-sig')